<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../../theme/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../../theme/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../../css/site.css">
</head>
<body class="hold-transition login-page">
    <div id="loading" class="loading" style="display:none"></div>
    @RenderBody()
    
    <script src="../../theme/plugins/jquery/jquery.min.js"></script>
    <script src="../../theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../theme/dist/js/adminlte.min.js"></script>
</body>
</html>
